body{
    margin: 0%;
}
#wellcome{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 5px;
    margin-left: 2%;

}
.half-width img{
    width: 100%;
    padding-left: 20%;
}
.download{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px ;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    
}
#top{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.down{
    width: 40%;
    float: left;
    padding-right: 8%;
    margin-right: 2%;
}
.down img{
    width: 100%;
}
#download{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
}

.dream{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
}