#wellcome{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-top: 2%;
}
.half-width img{
    width: 100%;
}

.top-banner{

    background-image: url("image/top-banner.png");
}
saction{
    width: 500px;
}
body{
    margin: 0;
}